<h1> {{ banner }} </h1>
<div id="chat-user-list">
	<h3>User list</h3>
</div>
<div id="chat-feed">
	<h3>Feed</h3>
</div>
<a href="#/createRoom"><button>New Room</button></a>
<div id="chat-room-list">
	<div ng-repeat="room in rooms" id="chat-single room">
		<span class="chat-room-name"> {{ room }} </span>
		<div class="chat-room-controls">
			<button ng-click="joinRoom(room)">Join</button>
			<button ng-click="leaveRoom(room)">Leave</button>
		</div>
	</div>
</div>
<form id="chat-message">
	<input id="message" type="text" name="message">
	<button ng-click="sendMessage()">Send</button>
</form>
